*,
::after,
::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}


:root {
  --clr-base: rgb(255,255,255);
  --clr-primary: rgb(255, 226, 62);
  --clr-neutral-400: rgb(244,46,38);
  --clr-neutral-700: rgb(109,38,22);

  --ff-en-letter: 'Pridi';
  --ff-pc-base: "Yu Mincho", "YuMincho", serif;

  --fnt--wt--600: 600;
  --fnt--wt--500: 500;
  --fnt--wt--400: 400;

  --fnts--ext: 3.9375rem;
  --fnts--bg: 2rem;
  --fnts--mid: 1.4375rem;
  --fnts--bger: 1.375rem;
  --fnts--noml: 1rem;
  --fnts--smal: 0.75rem;
}

html {
  font-size: 100%;
}

body {
  
  font-size: 1rem;
}


a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

li {
  list-style: none;
}

.sec_inner {
  width: min(90%, 1080px);
  margin: auto;
}



/*-------------------------------------------
フォントファミリー
-------------------------------------------*/
h1,
h2,
h3,
p {
  font-family: var(--ff-pc-base);
}

#sec03 .button p,
#sec06 .button p {
  font-family: var(--ff-pc-base);

}

/*-------------------------------------------
ナビゲーションバー
-------------------------------------------*/
#nav_bar {
  width: 100%;
  min-height: 10vh;
  background-color: rgba(#000, #000, #000, 0);
}

.header_inner {
  box-sizing: border-box;
  z-index: 100;
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 90%;
  margin: auto;
  display: flex;
  align-items: center;
}

#logo_phrase {
  box-sizing: border-box;
  width: 50%;
  display: flex;
  align-items: end;
  margin-right: auto;
}

#logo {
  width: 30%;
  min-width: 73px;
}

#logo_text {
  width: 70%;
  min-width: 104px;
  margin-left: 5%;
}

#logo_text img {
  padding-bottom: 3px;
}

#social ul {
  display: flex;
}

#social a + a {
  margin-left: 12.9px;
}

#social ul li img {
  width: 20.28px;
}


#nav_bar .button{
  display: none;
}

#nav_bar .button p {
  color: var(--clr-base);
  padding-top: 25px;
}

.humberger {
  margin-left: 19.54px;
}

.humberger .line {
  box-sizing: border-box;
  width: 26px;
  height: 2px;
  margin-top: 7.67px;
  background-color: var(--clr-neutral-400);
}

.humberger p {
  color: var(--clr-neutral-400);
  font-family: var(--ff-en-letter);
  font-weight: var(--fnt--wt--500);
  font-size: 0.675rem;
}

@media (min-width: 768px) {

  #nav_bar .button{
    display: block;
    margin-left: 33.8px;
  }

  #social a + a {
    margin-left: 38.2px;
  }
  
  #social ul li img {
    width: 60px;
  }
  

  
  .humberger {
    margin-left: 57px;
  }

  .humberger .line {
    box-sizing: border-box;
    width: 70px;
    height: 5px;
    margin-top: 22.72px;
  }
  
  .humberger p {
    color: var(--clr-neutral-400);
    font-family: var(--ff-en-letter);
    font-size: 1.375rem;
  }
  
}

/*-------------------------------------------
ヘッダー
-------------------------------------------*/
.contact_wrapper {
  background-image: url(./img/fv_pic.png);
  background-size: cover;
  background-position: center;
  min-height: 40vh;
}

.contact_text {
  color: var(--clr-base);
  text-align: center;
  padding-top: 106px;
  line-height: 1.1;
}

.contact_text h1{
  font-family: var(--ff-en-letter);
  font-size: var(--fnts--ext);
  font-weight: var(--fnt--wt--400);
}

.contact_text h2 {
  font-size: var(--fnts--bg);
  font-weight: var(--fnt--wt--400);
}


/*-------------------------------------------
フッター
-------------------------------------------*/


#footer_info {
  background-color: var(--clr-primary);
  padding-top: 20px;
  padding-bottom: 25px;
}

.footer_flex {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: min(90%, 1080px);
  margin: auto;
}

.footer_adress {
  padding-bottom: 20px;
  order: -1;
}

.footer_adress p {
  line-height: 1.8;
}

.footer_links {
  display: flex;
  padding-bottom: 10px;
  order: 1;
}

.footer_links > * + * {
  padding-left: 43px;
}

.sns {
  display: flex;
  padding-left: 35px;
  margin-top: 10px;
  padding-bottom: 15px;
} 

.sns > * + * {
  padding-left: 15.77px;
}

.copyright {
  background-color: var(--clr-neutral-400);
  padding: 15px;
}

.copyright p {
  color: var(--clr-base);
  text-align: center;
}

@media (min-width: 768px) {
  .footer_flex {
    flex-direction: row;
  }

  .footer_flex > * {
    margin-bottom: 0px;
  }  

  .footer_adress {
    margin-right: auto;
    padding-bottom: 0px;
  }

  .footer_links {
    padding-bottom: 0px;
    order: 0;
  }

  .footer_links > * + * {
    padding-left: 30px;
  }

  .sns {
    padding-bottom: 0px;
  }

  .sns > * + * {
    padding-left: 22px;
  }
  
}
