*,
::after,
::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}


:root {
  --clr-base: rgb(255,255,255);
  --clr-primary: rgb(255, 226, 62);
  --clr-neutral-400: rgb(244,46,38);
  --clr-neutral-700: rgb(109,38,22);

  --ff-en-letter: 'Pridi';
  --ff-pc-base: "Yu Mincho", "YuMincho", serif;

  --fnt--wt--600: 600;
  --fnt--wt--500: 500;
  --fnt--wt--400: 400;

  --fnts--ext: 2.813rem;
  --fnts--bg: 2rem;
  --fnts--mid: 1.4375rem;
  --fnts--bger: 1.375rem;
  --fnts--noml: 1rem;
  --fnts--smal: 0.75rem;
}


html {
  font-size: 75%;
}


body {
  font-size: 1rem;
}

img {
  max-width: 100%;
}

.header_inner {
  z-index: 101;
}

.humburger .line{
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.humburger.active p {
  opacity: 0;
}

.humburger.active .middle {
  opacity: 0;
}

.humburger.active .top {
  transform: translateY(10px) rotate(45deg);
}

.humburger.active .bottom {
  transform: translateY(-10px) rotate(-45deg);
}


#logo_phrase.active,
#social.active,
#nav_button.active {
  opacity: 0;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}





@media (min-width: 768px) {
  html {
    font-size: 100%;
  }

  .humburger.active .top {
    transform: translateY(28px) rotate(45deg);
  }
  
  .humburger.active .bottom {
    transform: translateY(-28px) rotate(-45deg);
  }
  
}


.open_links {
  padding: 120px 0 120px;
  z-index: 100;
  width: 100%;
  position: fixed;
  top: -110%;
  background-color: var(--clr-primary);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  transition: 0.3s;
}

.open_links.active {
  top: 0;
}

.open_links a {
  color: var(--clr-neutral-700);
  font-family: var(--ff-pc-base);
  font-size: var(--fnts--bger);
  font-weight: var(--fnt--wt--400);
}

.open_links a:hover {
  color: #FFFFFF;
  border-bottom: solid #FFFFFF 3px;
  padding-bottom: 10px; 
}

a:nth-child(n):hover::before {
  color: var(--clr-base);
}

.open_links ul > * + * {
  padding-top: 20px;
}

li:nth-child(1) a::before{
   display: block;
  content: "Concept";
  font-family: var(--ff-en-letter);
  font-size: var(--fnts--ext);
  font-weight: var(--fnt--wt--400);
  line-height: 1.5;
  color: var(--clr-neutral-700);
}


li:nth-child(2) a:before{
  display: block;
  content: "Menu";
  font-family: var(--ff-en-letter);
  font-size: var(--fnts--ext);
  font-weight: var(--fnt--wt--400);
  line-height: 1.5;
  color: var(--clr-neutral-700);
}

li:nth-child(3) a:before{
  display: block;
  content: "Tips";
  font-family: var(--ff-en-letter);
  font-size: var(--fnts--ext);
  font-weight: var(--fnt--wt--400);
  line-height: 1.5;
  color: var(--clr-neutral-700);
}

li:nth-child(4) a:before{
  display: block;
  content: "Access";
  font-family: var(--ff-en-letter);
  font-size: var(--fnts--ext);
  font-weight: var(--fnt--wt--400);
  line-height: 1.5;
  color: var(--clr-neutral-700);
}

li:nth-child(5) a:before{
  display: block;
  content: "Contact";
  font-family: var(--ff-en-letter);
  font-size: var(--fnts--ext);
  font-weight: var(--fnt--wt--400);
  line-height: 1.5;
  color: var(--clr-neutral-700);
}

li:nth-child(6) a:before{
  display: block;
  content: "Online Shop";
  font-family: var(--ff-en-letter);
  font-size: var(--fnts--ext);
  font-weight: var(--fnt--wt--400);
  line-height: 1.5;
  color: var(--clr-neutral-700);
}







