*,
::after,
::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}


:root {
  --clr-base: rgb(255,255,255);
  --clr-primary: rgb(255, 226, 62);
  --clr-neutral-400: rgb(244,46,38);
  --clr-neutral-700: rgb(109,38,22);

  --ff-en-letter: 'Pridi';
  --ff-pc-base: "Yu Mincho", "YuMincho", serif;

  --fnt--wt--600: 600;
  --fnt--wt--500: 500;
  --fnt--wt--400: 400;

  --fnts--ext: 3.9375rem;
  --fnts--bg: 2rem;
  --fnts--bger: 1.375rem;
  --fnts--mid: 1.1rem;
  --fnts--noml: 1rem;
  --fnts--smal: 0.75rem;
}

html {
  font-size: 100%;
}

body {
  font-family: var(--ff-pc-base); 
}


h2 {
  color: var(--clr-neutral-700);
  font-weight: var(--fnt--wt--600);
}

p {
  color: var(--clr-neutral-700);
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

li {
  list-style: none;
}

.invisible {
  display: none;
}


.background {
  background: linear-gradient(180deg, rgba(255, 222, 35, 0.5) 4.71%, #FFE23E 100%);
}

.sec_inner {
  width: min(90%, 1080px);
  margin: auto;
}

.flex {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex: 1;
  margin: auto;
  padding-bottom: 3em;
  text-align: center;
  white-space: nowrap;
  font-size: 16px;
}

@media (min-width: 768px) {

  .background {
    background-color: var(--clr-primary);
  }

  .flex  {
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    flex: 1;
    }
}

/*-------------------------------------------
フォントファミリー
-------------------------------------------*/
h1,
h2,
h3,
p {
  font-family: var(--ff-pc-base);
}

#sec03 .button p,
#sec06 .button p {
  font-family: var(--ff-pc-base);

}

/*-------------------------------------------
フォントサイズ
-------------------------------------------*/
.menu_wrapper h1 {
  font-size: var(--fnts--noml);
}

.menu_wrapper h2 {
  font-size: var(--fnts--smal);
}



@media (min-width: 768px) {
  .menu_wrapper h1 {
    font-size: var(--fnts--ext);
  }

  .menu_wrapper h2 {
    font-size: var(--fnts--bg);
  }

  .wrapper h2 {
    font-size: var(--fnts--mid);
  }

  
}
/*-------------------------------------------
ボタン
-------------------------------------------*/
.button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 279px;
  height: 50px;
  background-color: var(--clr-neutral-400);
  margin: auto;
}

.button p {
  color: var(--clr-base);
  font-family: var(--ff-pc-base);
  font-weight: var(--fnt--wt--500);
  text-align: center;
}

.button img {
  width: 28px;
  height: 16px;
  box-sizing: border-box;
  margin-left: 11px;
}


.button:hover {
  opacity: 0.7;
}

@media (min-width:768px) {
  .button {
    width: 320px;
    height: 70px;
  }
}

/*-------------------------------------------
ナビゲーションバー
-------------------------------------------*/
#nav_bar {
  width: 100%;
  min-height: 57px;
  background-color: rgba(#000, #000, #000, 0);
}

.header_inner {
  padding-top: 7px;
  box-sizing: border-box;
  z-index: 100;
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 90%;
  margin: auto;
  display: flex;
  align-items: center;
}

#logo_phrase {
  box-sizing: border-box;
  width: 50%;
  display: flex;
  align-items: end;
  margin-right: auto;
}

#logo {
  width: 30%;
  min-width: 73px;
}

#logo_text {
  width: 70%;
  min-width: 104px;
  margin-left: 5%;
}

#logo_text img {
  padding-bottom: 3px;
}

#social ul {
  display: flex;
}

#social a + a {
  margin-left: 12.9px;
}

#social ul li img {
  width: 20.28px;
}


#nav_bar .button{
  display: none;
}

#nav_bar .button p {
  color: var(--clr-base);
  padding-top: 25px;
}

.humberger {
  margin-left: 19.54px;
}

.humberger .line {
  box-sizing: border-box;
  width: 26px;
  height: 2px;
  margin-top: 7.67px;
  background-color: var(--clr-neutral-400);
}

.humberger p {
  color: var(--clr-neutral-400);
  font-family: var(--ff-en-letter);
  font-weight: var(--fnt--wt--500);
  font-size: 0.675rem;
}

@media (min-width: 768px) {

  #nav_bar {
    min-height: 0;
  }

  #nav_bar .button{
    display: block;
    margin-left: 33.8px;
  }

  .header_inner {
    padding-top: 0;
  }

  #social a + a {
    margin-left: 38.2px;
  }
  
  #social ul li img {
    width: 60px;
  }
  

  
  .humberger {
    margin-left: 57px;
  }

  .humberger .line {
    box-sizing: border-box;
    width: 70px;
    height: 5px;
    margin-top: 22.72px;
  }
  
  .humberger p {
    color: var(--clr-neutral-400);
    font-family: var(--ff-en-letter);
    font-size: 1.375rem;
  }
  
}

/*-------------------------------------------
ヘッダー
-------------------------------------------*/
.menu_wrapper {
  background-image: url(./img/Rectangle\ 42.png);
  background-size: cover;
  background-position: center;
  min-height: 20vh;
  padding-bottom: 30px;
}

.menu_text {
  color: var(--clr-base);
  text-align: center;
  padding-top: 50px;
  line-height: 1.1;
}

.menu_text h1{
  font-family: var(--ff-en-letter);
  font-weight: var(--fnt--wt--400);
}

.menu_text h2 {
  font-weight: var(--fnt--wt--400);
  color: var(--clr-base);
}

@media (min-width: 768px) {

  .menu_wrapper {
    min-height: 40vh;
    padding-bottom: 106px;
  }

  .menu_text {
    padding-top: 106px;
  }

}


/*-------------------------------------------
台湾カステラ
-------------------------------------------*/
#castella {
  padding-top: 28.68px;
  padding-bottom: 32px;
}

#castella h2 {
  margin-bottom: 1em;
  padding-bottom: 10px;
  border-bottom: solid #ffffff 3px;
  width: 60%;
  margin: auto;
}

#castella .item:nth-child(1) h2 {
  border-bottom: solid #ffffff 3px;
}

#castella .item:nth-child(2) h2  {
  border-bottom: solid #5C7613 3px;
}

#castella .item:nth-child(3) h2  {
  border-bottom: solid #7B3111 3px;
}

#castella p {
  line-height: 1.7;
}

#castella .flex > * {
  margin-bottom: 32px;
  width: 100%;
}

#castella .flex .item_img {
  max-width: 340px;
  max-height: 300px;
  margin: auto;
  margin-bottom: 26px;
}

#castella .flex .item_img img {
  width: 100%;
  height: 300px;
}


#castella  .subtitle  {
  z-index: 10;
  text-align: center;
  position: relative;
  line-height: 5;
  }

  #castella .subtitle img {
    width: 109.46px;
    height: 14.56px;
  }
  

  #castella  .subtitle::after {
    z-index: -1;
    position: absolute;
    top: 43%;
    left: 50%;
    transform: translate(-50%, -50%);
    content: "";
    display: block;
    width: 171.12px;
    height: 55.19px;
    background-image: url(./img/Castella.png);
    background-size: contain;
    background-repeat: no-repeat;
  }


  #castella .button {
    width: 279px;
  }

  @media (min-width: 768px) {

    #castella {
      padding-top: 62.45px;
      padding-bottom: 60px;
    }

    #castella h2 {
      width: 100%;
    }


    #castella .flex > * {
      width: 33%;
    }

    #castella .flex > * + * {
      margin-left: 2rem;
    }

    #castella .subtitle img {
      width: 183.17px;
      height: 28.99px;
    }

    #castella  .subtitle {
      line-height: 9;
    }

    #castella  .subtitle::after {
      top: 38%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 297.71px;
      height: 96px;
    }

    #castella .flex .item_img img {
      width: 100%;
      object-fit: cover;
    }
  
  }

  @media screen and (min-width:768px) and ( max-width:1024px)  {

    .flex {
      flex-wrap: wrap;
    }

    #castella .flex > * {
      width: 45%;
    }

    #castella .button {
      width: 320px;
    }
  

  }
/*-------------------------------------------
店内限定メニュー
-------------------------------------------*/
#eatin {
  padding-bottom: 42px;
}

#eatin  .subtitle  {
  z-index: 10;
  line-height: 8;
  text-align: center;
  position: relative;
  }

  #eatin .subtitle img {
    width: 125.6px;
    height: 14.43px;
  }
  

  #eatin  .subtitle::after {
    z-index: -1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    content: "";
    display: block;
    width: 256.73px;
    height: 73px;
    background-image: url(./img/Eat\ in\ Only.png);
    background-size: contain;
    background-repeat: no-repeat;
  }

  #eatin .flex > * + * {
    margin-left: 0;
  }

  #eatin .flex > *:nth-child(1) {
    margin-bottom: 18px;
  }

  #eatin .item_img {
    margin-bottom: 17.55px;
  }
  
  .line01 {
    height: 3px;
    width: 80%;
    background-color: #FE7E08;
    margin: 8px auto 20px;
  }

  .line02 {
    height: 3px;
    width: 80%;
    background-color: #D18057;
    margin: 8px auto 20px;
  }

  #eatin h2 {
    line-height: 1.4;
  }

  #eatin p {
    line-height: 1.8;
  }
  

  @media (min-width: 768px) {
    #eatin {
      padding-bottom: 70px;
    }

    #eatin  .subtitle {
      margin-bottom: 61px;
    }

    #eatin .subtitle img {
      width: 251.21px;
      height: 28.86px;
    }

    #eatin  .subtitle::after {
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 462.3px;
      height: 127px;
    }

    #eatin .item_img {
      margin-bottom: 38px;
    }

    #eatin .flex > * + * {
      margin-left: 51px;
    }
  
  
  }


/*-------------------------------------------
オンラインショップ
-------------------------------------------*/

#online_shop {
  background-image: url(./img/onlineshop_background.png);
  background-size: cover;
  background-repeat: no-repeat;
  padding-bottom: 63px;
}

#online_shop h2 {
  display: none;
}

#online_shop  .sec_inner .subtitle  {
  z-index: 10;
  text-align: center;
  position: relative;
  margin-bottom: 2em;
  padding-top: 83.11px;
  }

  #online_shop  .sec_inner .subtitle img {
    width: 141.26px;
    height: 13.54px;
  }
  
  #online_shop  .sec_inner .subtitle::after {
    z-index: -1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -60%);
    content: "";
    display: block;
    width: 286px;
    height: 67.53px;
    background-image: url(./img/Online\ shop.png);
    background-size: contain;
    background-repeat: no-repeat;
    margin-top: 45px;
  }

  #online_shop .button {
    width: 279px;
    margin: auto;
  }

  #online_shop .button p, img {
    line-height: 1.8;
  }

  .online_shop_letter {
    text-align: center;
    line-height: 1.6;
    margin-bottom: 40px;
  }

  

  .online_shop_letter p {
    color: var(--clr-base);
  }

  @media (min-width: 768px) {

    #online_shop  .sec_inner .subtitle  {
      margin-bottom: 8em;
    }

    #online_shop  .sec_inner .subtitle::after {
      width: 440px;
      height: 117px;
    }

    #online_shop  .sec_inner .subtitle img {
      width: 192.58px;
      height: 18.61px;
    }

    #online_shop .button {
      width: 345px;
    }
  
  }


/*-------------------------------------------
フッター
-------------------------------------------*/


#footer_info {
  background-color: var(--clr-primary);
  padding-top: 20px;
  padding-bottom: 25px;
}

.footer_flex {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: min(90%, 1080px);
  margin: auto;
}

.footer_adress {
  padding-bottom: 20px;
  order: -1;
}

.footer_adress p {
  line-height: 1.8;
}

.footer_links {
  display: flex;
  padding-bottom: 10px;
  order: 1;
}

.footer_links > * + * {
  padding-left: 43px;
}

.sns {
  display: flex;
  padding-left: 35px;
  margin-top: 10px;
  padding-bottom: 15px;
} 

.sns > * + * {
  padding-left: 15.77px;
}

.copyright {
  background-color: var(--clr-neutral-400);
  padding: 15px;
}

.copyright p {
  color: var(--clr-base);
  text-align: center;
}

@media (min-width: 768px) {
  .footer_flex {
    flex-direction: row;
  }

  .footer_flex > * {
    margin-bottom: 0px;
  }  

  .footer_adress {
    margin-right: auto;
    padding-bottom: 0px;
  }

  .footer_links {
    padding-bottom: 0px;
    order: 0;
  }

  .footer_links > * + * {
    padding-left: 30px;
  }

  .sns {
    padding-bottom: 0px;
  }

  .sns > * + * {
    padding-left: 22px;
  }
  
}
