*,
::after,
::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}


:root {
  --clr-base: rgb(255,255,255);
  --clr-primary: rgb(255, 226, 62);
  --clr-neutral-400: rgb(244,46,38);
  --clr-neutral-700: rgb(109,38,22);

  --ff-en-letter: 'Pridi';
  --ff-pc-base: "Yu Mincho", "YuMincho", serif;

  --fnt--wt--600: 600;
  --fnt--wt--500: 500;
  --fnt--wt--400: 400;

  --fnts--ext: 3.9375rem;
  --fnts--bg: 2rem;
  --fnts--mid: 1.4375rem;
  --fnts--bger: 1.375rem;
  --fnts--noml: 1rem;
  --fnts--smal: 0.75rem;
}

html {
  font-size: 100%;
}

body {
  
  font-size: 1rem;
}


a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

li {
  list-style: none;
}

.sec_inner {
  margin: auto;
}

.wrapper {
  background-color: var(--clr-primary);
}

.flex_item {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 30px;
}

.flex_item > * + *{
  padding-left: 0px;
}

@media (min-width: 768px) {
  .flex_item {
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    padding-bottom: 185px;
  }

  .flex_item > * + *{
    padding-left: 54px;
  }
}
/*-------------------------------------------
フォントファミリー
-------------------------------------------*/
h1,
h2,
h3,
p {
  font-family: var(--ff-pc-base);
}

#sec03 .button p,
#sec06 .button p {
  font-family: var(--ff-pc-base);

}

/*-------------------------------------------
ボタン
-------------------------------------------*/
.button {
  width: 250px;
  height: 70px;
  background-color: var(--clr-neutral-400);
}

.button p {
  color: var(--clr-base);
  font-family: var(--ff-en-letter);
  font-weight: var(--fnt--wt--500);
  text-align: center;
}

.button img {
  width: 28px;
  height: 16px;
  box-sizing: border-box;
  margin-left: 11px;
}

.button p{
  padding-top: 18px;
}

.button:hover {
  opacity: 0.7;
}

/*-------------------------------------------
ナビゲーションバー
-------------------------------------------*/
#nav_bar {
  width: 100%;
  min-height: 10vh;
  background-color: rgba(#000, #000, #000, 0);
}

.header_inner {
  box-sizing: border-box;
  z-index: 100;
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 90%;
  margin: auto;
  display: flex;
  align-items: center;
}

#logo_phrase {
  box-sizing: border-box;
  width: 50%;
  display: flex;
  align-items: end;
  margin-right: auto;
}

#logo {
  width: 30%;
  min-width: 73px;
}

#logo_text {
  width: 70%;
  min-width: 104px;
  margin-left: 5%;
}

#logo_text img {
  padding-bottom: 3px;
}

#social ul {
  display: flex;
}

#social a + a {
  margin-left: 12.9px;
}

#social ul li img {
  width: 20.28px;
}


#nav_bar .button{
  display: none;
}

#nav_bar .button p {
  color: var(--clr-base);
  padding-top: 25px;
}

.humberger {
  margin-left: 19.54px;
}

.humberger .line {
  box-sizing: border-box;
  width: 26px;
  height: 2px;
  margin-top: 7.67px;
  background-color: var(--clr-neutral-400);
}

.humberger p {
  color: var(--clr-neutral-400);
  font-family: var(--ff-en-letter);
  font-weight: var(--fnt--wt--500);
  font-size: 0.675rem;
}

@media (min-width: 768px) {

  #nav_bar .button{
    display: block;
    margin-left: 33.8px;
  }

  #social a + a {
    margin-left: 38.2px;
  }
  
  #social ul li img {
    width: 60px;
  }
  

  
  .humberger {
    margin-left: 57px;
  }

  .humberger .line {
    box-sizing: border-box;
    width: 70px;
    height: 5px;
    margin-top: 22.72px;
  }
  
  .humberger p {
    color: var(--clr-neutral-400);
    font-family: var(--ff-en-letter);
    font-size: 1.375rem;
  }
  
}

/*-------------------------------------------
ヘッダー
-------------------------------------------*/
.online_wrapper {
  background-image: url(./img/fv_pic.png);
  background-size: cover;
  background-position: center;
  min-height: 40vh;
}

.online_text {
  color: var(--clr-base);
  text-align: center;
  padding-top: 106px;
  line-height: 1.1;
}

.online_text h1{
  font-family: var(--ff-en-letter);
  font-size: var(--fnts--ext);
  font-weight: var(--fnt--wt--400);
}

.online_text h2 {
  font-size: var(--fnts--bg);
  font-weight: var(--fnt--wt--400);
}


/*-------------------------------------------
リスト
-------------------------------------------*/
#lists h2 {
  display: none;
}

#lists  .subtitle  {
  z-index: 10;
  line-height: 8;
  text-align: center;
  position: relative;
  }

#lists .subtitle img {
  width: 109.46px;
  height: 14.56px;
}


#lists  .subtitle::after {
  z-index: -1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  content: "";
  display: block;
  width: 100.54px;
  height: 67.53px;
  background-image: url(./img/Castella.png);
  background-size: contain;
  background-repeat: no-repeat;
}

.flex_item {
  padding-bottom: 72px;
}

.flex_item .flex_img {
  box-sizing: border-box;
  max-width: 425px;
  width: 100%;
  padding-bottom: 16px;
}

.flex_item .flex_img img {
  width: 100%;
  max-height: 264px;
  object-fit: cover;
}

.flex_text {
  margin-right: auto;
  padding-left: 10%
}

  .text_flex {
    display: flex;
  }

  .text_flex > * + * {
    padding-left: 0px;
  }


  .text_flex .border_text p {
    padding-bottom: 10px;
  }

  .text_flex .border_text .border {
    width: 130px;
    height: 5px;
    background: linear-gradient(90deg, #fff 85%, transparent 85%);
  }

.spiner {
  display: flex;
  align-items: center;
  width: 185px;
  height: 5px;
  background-color: var(--clr-base);
}

.spiner input {
  border: none;
  outline: none;
}

.spiner span {
  font-family: var(--ff-pc-base);
  font-weight: var(--fnt--wt--600);
  font-size: var(--fnts--bger);
}

@media (min-width: 768px) {
  #lists .subtitle img {
    width: 150.51px;
    height: 20px;
  }

  #lists  .subtitle::after {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 175px;
    height: 117px;
  }

  .flex_item {
    padding-bottom: 124px;
  }

  .flex_item .flex_img {
    box-sizing: border-box;
    max-width: 492px;
    width: 100%;
  }

  .flex_item .flex_img img {
    max-height: 306px;
    
  }

  .flex_item > p {
    text-align: center;
  }

  .flex_text {
    
    margin-right: 0;
    padding-left: 54px;
  }



  .text_flex .border_text p {
    padding-bottom: 10px;
  }

  .text_flex .border_text .border {
    width: 130px;
    height: 5px;
    background-color: #ffffff;
  }

  .spiner {
    width: 210px;
    height: 52px;
  }

}

@media screen and (min-width:768px) and ( max-width:1024px) {
  .flex_item {
    flex-direction: column;
    align-items: center;
  } 

  .flex_item .flex_img {
    padding-bottom: 20px;
  }

  .flex_text {
    margin-right: 0;
    padding-left: 0%
  }
}


/*-------------------------------------------
オンラインショップ
-------------------------------------------*/

#online_shop {
  background-image: url(./img/onlineshop_background.png);
  background-size: cover;
  background-repeat: no-repeat;
  padding-bottom: 63px;
}

#online_shop h2 {
  display: none;
}

#online_shop  .sec_inner .subtitle  {
  z-index: 10;
  text-align: center;
  position: relative;
  margin-bottom: 2em;
  padding-top: 83.11px;
  }

  #online_shop  .sec_inner .subtitle img {
    width: 141.26px;
    height: 13.54px;
  }
  
  #online_shop  .sec_inner .subtitle::after {
    z-index: -1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -60%);
    content: "";
    display: block;
    width: 286px;
    height: 67.53px;
    background-image: url(./img/Online\ shop.png);
    background-size: contain;
    background-repeat: no-repeat;
    margin-top: 45px;
  }



  #online_shop .button {
    width: 345px;
    margin: auto;
  }

  #online_shop .button p, img {
    line-height: 1.8;
  }

  .online_shop_letter {
    text-align: center;
    line-height: 1.6;
    margin-bottom: 40px;
  }

  

  .online_shop_letter p {
    color: var(--clr-base);
  }

  @media (min-width: 768px) {

    #online_shop  .sec_inner .subtitle  {
      margin-bottom: 8em;
    }

    #online_shop  .sec_inner .subtitle::after {
      width: 440px;
      height: 117px;
    }

    #online_shop  .sec_inner .subtitle img {
      width: 192.58px;
      height: 18.61px;
    }

  }

  


/*-------------------------------------------
フッター
-------------------------------------------*/


#footer_info {
  background-color: var(--clr-primary);
  padding-top: 20px;
  padding-bottom: 25px;
}

.footer_flex {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: min(90%, 1080px);
  margin: auto;
}

.footer_adress {
  padding-bottom: 20px;
  order: -1;
}

.footer_adress p {
  line-height: 1.8;
}

.footer_links {
  display: flex;
  padding-bottom: 10px;
  order: 1;
}

.footer_links > * + * {
  padding-left: 43px;
}

.sns {
  display: flex;
  padding-left: 35px;
  margin-top: 10px;
  padding-bottom: 15px;
} 

.sns > * + * {
  padding-left: 15.77px;
}

.copyright {
  background-color: var(--clr-neutral-400);
  padding: 15px;
}

.copyright p {
  color: var(--clr-base);
  text-align: center;
}

@media (min-width: 768px) {
  .footer_flex {
    flex-direction: row;
  }

  .footer_flex > * {
    margin-bottom: 0px;
  }  

  .footer_adress {
    margin-right: auto;
    padding-bottom: 0px;
  }

  .footer_links {
    padding-bottom: 0px;
    order: 0;
  }

  .footer_links > * + * {
    padding-left: 30px;
  }

  .sns {
    padding-bottom: 0px;
  }

  .sns > * + * {
    padding-left: 22px;
  }
  
}
